*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Temporaneo */
.border{
    border: 2px dashed black;
}

.nav{
    display: flex;
    height: 100px;
    width: auto;
    background-color: orange;
}

main{
    padding: 50px 0;
}

.goods{
    display: flex;
    min-height: 300px;
    width: auto;
    background-color: gainsboro;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.card{
    width: calc(100% / 3 - 20px);
    min-height: 300px;
}

.end{
    height: 100px;
    width: auto;
    background-color: darkslategrey;
}

img{
    display: block;
    max-width: 100%;
    position: relative;
}

.clothes{
    position: relative;
}


.sold{
    background-color: red;
    color: white;
    position: absolute;
    padding: 4px 8px;
    left: 0;
    bottom: 100px;
}

.eco{
    background-color: green;
    color: white;
    position: absolute;
    padding: 4px 8px;
    left: 70px;
    bottom: 100px;

}

.heart{
    background-color: white;
    color: black;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 0;
    font-size: 20px;
}