/* generiche */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


header{
    background-color: rgb(254,105,0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav{
    display: flex;
    height: 80px;
    width: auto;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
}

ul{
    list-style: none;
    display: flex;
}
li{
    padding: 0 5px;
}

a{
    color: white;
    text-decoration: none;
}

/* NON PERFETTAMENTE CENTRATO */
.logo{
    display: block;
    width: 200px;
}






main{
    margin: 150px 0 75px;
}

.goods{
    display: flex;
    min-height: 300px;
    width: auto;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.card{
    width: calc(100% / 3 - 30px);
    min-height: 300px;
}

.end{
    height: 100px;
    width: auto;
    background-color: black;
}

img{
    display: block;
    max-width: 100%;
    position: relative;
}

b{
    color: red;
    padding-right: 5px;
}
.price{
    text-decoration: line-through;
}

.clothes{
    position: relative;
}


/* classi etichette */
.chara{
    position: absolute;
    left: 0;
    bottom: 100px;
}
.green{
    background-color: green;
    color: white;}
.red{
    background-color: red;
    color: white;}
.pad{
    padding: 5px 7px;}

.heart{
    background-color: white;
    color: black;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 0;
    font-size: 20px;
}


/* gestione overlay main */
.heart:hover{
    color: red;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.clothes:hover .overlay{
    display: inline-block;
}

.sub-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    line-height: 25px;
}

h4{
    color: white;
    padding-left: 5px;
}